---
import { Image } from 'astro:assets'

import { Quote } from 'astro-pure/advanced'
import { PostPreview } from 'astro-pure/components/pages'
import { getBlogCollection, sortMDByDate } from 'astro-pure/server'
import { Button, Card, Icon, Label } from 'astro-pure/user'
import PageLayout from '@/layouts/BaseLayout.astro'
import ProjectCard from '@/components/home/ProjectCard.astro'
import Section from '@/components/home/Section.astro'
import SkillLayout from '@/components/home/SkillLayout.astro'
import avatar from '@/assets/avatar.png'
import config from '@/site-config'

const languages = ['Html', 'C++', 'C#', 'python']
const frontend = ['TypeScript', 'Vite', 'Webpack', 'Astro']
const backend = ['Vercel', 'Waline']

const MAX_POSTS = 10
const allPosts = await getBlogCollection()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)
---

<PageLayout meta={{ title: 'Home' }} highlightColor='#659EB9'>
  <main class='flex w-full flex-col items-center'>
    <section class='animate mb-10 flex flex-col items-center gap-y-7' id='content-header'>
      <Image
        src={avatar}
        alt='profile'
        class='h-28 w-auto rounded-full border p-1'
        loading='eager'
      />

      <div class='flex flex-col items-center gap-y-4'>
        <h1 class='text-3xl font-bold'>{config.author}</h1>
        <div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>
          <Label title='China'>
            <Icon name='location' class='size-5' slot='icon' />
          </Label>
          <Label
            title='Github'
            as='a'
            href='https://github.com/JiazheWei'
            target='_blank'
          >
            <Icon name='github' class='size-5' slot='icon' />
          </Label>
          <Label title='Email' as='a' href='mailto:wjz2930608106@stu.xjtu.edu.cn'>
            <Icon name='email' class='size-5' slot='icon' />
          </Label>
          <Label title='Scholar' as='a' href='https://scholar.google.com/citations?user=UgKRQJwAAAAJ&hl=en&oi=ao' target='_blank'>
            <Icon name='earth' class='size-5' slot='icon' />
            </Label>
        </div>
      </div>

      {/* Get template */}
      
    </section>

    <div id='content' class='animate flex flex-col gap-y-10 md:w-4/5 lg:w-5/6'>
      <Section title='About'>
        <p class='text-muted-foreground'>Junior Undergraduate @ XJTU / Genrative AI Researcher</p>
        <p class='text-muted-foreground'>
          您好，我是void，一名来自西安交通大学2022级计算机试验班的学生, 我对AIGC， World model与具身智能均有浓厚兴趣， 欢迎随时联系我交流。
        </p>
        <Button title='More about me' class='w-fit self-end' href='/about' style='ahead' />
      </Section>
      {
        allPostsByDate.length > 0 && (
          <Section title='Posts'>
            <ul class='flex flex-col gap-y-1.5 sm:gap-y-2'>
              {allPostsByDate.map((p) => (
                <li class='flex flex-col gap-x-2 sm:flex-row'>
                  <PostPreview post={p} />
                </li>
              ))}
            </ul>
            <Button title='More posts' class='w-fit self-end' href='/blog' style='ahead' />
          </Section>
        )
      }

      {
        /* <Section title='Experience'>
      <Card
        heading='Lorem Ipsum'
        subheading='Sit amet consectetur'
        date='Dec 2022 - Nov 2023'
        imagePath='/src/assets/about-astro.png'
        altText='Lorem, ipsum dolor sit'
        imageClass='h-12 w-auto md:-start-16'
      >
        <ul class='ms-4 list-disc text-muted-foreground'>
          <li>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore debitis recusandae, ut
            molestiae laboriosam pariatur!

            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, pariatur!</li>
          </li>
        </ul>
      </Card>
      <Card
        heading='Lorem Ipsum'
        subheading='Sit amet consectetur'
        date='Dec 2022 - Nov 2023'
        imagePath='/src/assets/about-astro.png'
        altText='Lorem, ipsum dolor sit'
        imageClass='h-12 w-auto md:-start-16'
      />
    </Section> */
      }
      <Section title='Experience'>
        <Card
          as='a'
          heading='Lovert AI'
          subheading='Intern'
          date='July 2025 - Present'
          href='https://www.lovart.ai/'
          target="_blank"
        ></Card>

        <Card
          as='a'
          heading='南洋理工大学'
          subheading='S-lab, visiting student'
          date='July 2025 - Present'
          href='https://liuziwei7.github.io/'
          Advisor: Ziwei Liu
          target="_blank"
        ></Card>
        <Card
          as='a'
          heading='欧洲核子研究中心(CERN)'
          subheading='AMSlab, visiting student'
          date='Jan 2025 - Feb 2025'
          href='https://home.cern/'
          target="_blank"
        ></Card>

        <Card
          as='a'
          heading='西湖大学'
          subheading='LinsLab, intern'
          date='Nov 2024 - Feb 2025'
          href='https://lins-lab.github.io/'
          target="_blank"
        >
          {
            /* <ul class='ms-4 list-disc text-muted-foreground'>
          <li>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore debitis recusandae, ut
            molestiae laboriosam pariatur!
          </li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, pariatur!</li>
        </ul> */
          }
        </Card>
        <Card
          as='a'
          heading='西安交通大学'
          subheading='BKDElab, Research assistant'
          date='Aug 2023 - Octorber 2024'
          href='https://www.xjtu.edu.cn/xynr.jsp?wbtreeid=1634&wbxjtucollegeid=241'
        ></Card>  
      </Section>

      <!--Section title='Website List'>
        <div class='grid grid-cols-1 gap-3 sm:grid-cols-2'>
          <ProjectCard
            href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'
            heading='Lorem ipsum'
            subheading='dolor sit amet, oratio ornatus explicari pro ex'
            imagePath='/src/assets/projects/alex-tyson-2BAXJ7ha74s-unsplash.jpg'
          />
          <ProjectCard
            href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'
            heading='Lorem ipsum'
            subheading='dolor sit amet, oratio ornatus explicari pro ex'
            imagePath='/src/assets/projects/angelica-teran-Bk9hpaXHK4o-unsplash.jpg'
          />
          <ProjectCard
            href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'
            heading='Lorem ipsum'
            subheading='dolor sit amet, oratio ornatus explicari pro ex'
            imagePath='/src/assets/projects/kseniia-zapiatkina-yATU3rg8tNI-unsplash.jpg'
          />
          <ProjectCard 
            href='/projects'
            heading='More projects' 
            subheading='Check out more projects'
            imagePath='/src/assets/projects/wen-qiao-g_w8I64FiO0-unsplash.jpg'
          />
        </div>
      </Section-->


      <Section title='Skills'>
        <SkillLayout title='Languages' skills={languages} />
        <SkillLayout title='Frontend' skills={frontend} /> 
        <SkillLayout title='Backend' skills={backend} />
      </Section>
    </div>
    <Quote class='mt-12' />
  </main>
</PageLayout>
